body { margin:0; padding:0; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;}

#map { position:absolute; top:64px; bottom:0; width:100%; }

.mapboxgl-popup {
    max-width: 400px;
    font: 12px sans-serif;
}

.mapboxgl-popup-content {
    padding-top: 15px;
}