.treeEntry {
  width: 100%;
  padding: 2px 6px 2px 16px;
  background-color: lightgrey;
  line-height: 32px;
}

a:hover {
  color: blue;
}

.treeChips .MuiChip-root:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}

.appBarProducts .MuiChip-root:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}

.treeChips a {
  text-decoration: none;
}
