body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#map {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px sans-serif;
}

.mapboxgl-popup-content {
  padding-top: 15px;
}

.map-title-control {
  color: rgb(0, 0, 0, 0.87);
  background: azure;
  padding: 6px 10px;
  margin: 14px 8px 14px 8px;
  outline: 1px solid grey;
  font-size: 0.8125rem;
  cursor: text;
}

/* treeEntry */

.treeEntry {
  width: 100%;
  padding: 2px 6px 2px 16px;
  background-color: lightgrey;
  line-height: 32px;
}

.treeChips a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.treeChips .MuiChip-root:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}

/* Stats Overrides */

.statsDialog .MuiDialog-paperFullWidth {
  overflow-x: hidden;
}

#headertable td {
  border: none;
}

.statsDialog .MuiTableCell-sizeSmall {
  padding: 10px 6px 10px 10px !important;
}

/* AppBar */

.customAppBar {
  height: 64px;
}

.customAppBar .MuiButtonBase-root.MuiIconButton-root,
.MuiAppBar-colorPrimary {
  color: azure;
}

.customAppBar .MuiButtonBase-root.MuiIconButton-root:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.customAppBar .mobileMenuActivator.MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: transparent;
}

.customAppBar .MuiChip-root {
  background-color: azure;
  width: 55px;
}

.customAppBar .iconChip.MuiChip-root {
  background-color: azure;
  width: 40px;
}

.customAppBar .MuiChip-root:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#mobileActivatorButton {
  margin-right: 20px;
}

/* attribute table in dialog */

#mapattributesdialog th {
  background-color: grey;
  color: white;
  border-color: grey;
}

#mapattributesdialog td {
  background-color: #343332;
  color: white;
  border-color: grey;
}

#mapattributesdialog button span.MuiIconButton-label {
  color: white;
}

/* attribute selector */

#attributeselector label {
  color: white;
}

#attributeselector .MuiSelect-outlined {
  color: white;
}

#attributeselector .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

#attributeselector svg {
  color: white;
}

#attributeselector ul.MuiList-root.MuiMenu-list.MuiList-padding {
  background-color: darkslategray;
}

#attributeselector div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  background-color: green;
}

#attribute-selector option {
  background-color: darkslategray;
}

#attribute-selector optgroup {
  background-color: darkslategray;
}

#numeric-classifications option {
  background-color: darkslategray;
}

.appBarProducts .iconChip {
  color: grey;
}
